pipeline/Pipeline_To_Take_Backup_And_Copy_Bulk_Tables.json
{
	"name": "Pipeline_To_Take_Backup_And_Copy_Bulk_Tables",
	"properties": {
		"activities": [
			{
				"name": "Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select name from sys.tables",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDS",
						"type": "DatasetReference",
						"parameters": {
							"server_name": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"user_name": {
								"value": "@pipeline().parameters.uName",
								"type": "Expression"
							},
							"pass_word": {
								"value": "@pipeline().parameters.pass",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Table List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "TableBackupActivity",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerDSToPointToTables",
									"type": "DatasetReference",
									"parameters": {
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureBlobBackupDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CopyTablesToAzureSQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"Id"
										]
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerDSToPointToTables",
									"type": "DatasetReference",
									"parameters": {
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableDestinationDS",
									"type": "DatasetReference",
									"parameters": {
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "TableBackupActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "ScriptToGetColumnNames",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "tblName",
												"type": "String",
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "SELECT name FROM sys.columns WHERE object_id = OBJECT_ID(@tblName) "
									}
								]
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ScriptToGetColumnNames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Columns",
								"value": {
									"value": "@activity('ScriptToGetColumnNames').output.resultSets[0].rows[0].name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Script_To_Get_All_Rows",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEachTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select * from dbo.Customer"
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Script_To_Get_All_Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Script_To_Get_All_Rows').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SwitchActivity",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SetCountryVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetIdVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetFirstNameVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetLastNameVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetCityVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetPhoneVar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('CountryName')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Mexico",
										"activities": [
											{
												"name": "Script_To_Add_Mexico_Cust",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabaseLS",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "id",
																	"type": "Int32",
																	"value": {
																		"value": "@variables('idVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "fName",
																	"type": "String",
																	"value": {
																		"value": "@variables('firstNameVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "lName",
																	"type": "String",
																	"value": {
																		"value": "@variables('lastNameVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "city",
																	"type": "String",
																	"value": {
																		"value": "@variables('cityVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "phone",
																	"type": "String",
																	"value": {
																		"value": "@variables('phoneVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																}
															],
															"type": "Query",
															"text": "insert into [dbo].[Cust_Mexico] values(@id,@fName,@lName,@city,@phone)"
														}
													]
												}
											}
										]
									},
									{
										"value": "Germany",
										"activities": [
											{
												"name": "Script_To_Add_German_Cust",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabaseLS",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "id",
																	"type": "Int32",
																	"value": {
																		"value": "@variables('idVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "fName",
																	"type": "String",
																	"value": {
																		"value": "@variables('firstNameVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "lName",
																	"type": "String",
																	"value": {
																		"value": "@variables('lastNameVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "city",
																	"type": "String",
																	"value": {
																		"value": "@variables('cityVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "phone",
																	"type": "String",
																	"value": {
																		"value": "@variables('phoneVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																}
															],
															"type": "Query",
															"text": "insert into [dbo].[Cust_Germany] values(@id,@fName,@lName,@city,@phone)"
														}
													]
												}
											}
										]
									},
									{
										"value": "UK",
										"activities": [
											{
												"name": "Script_To_Add_UK_Cust",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabaseLS",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "Id",
																	"type": "Int32",
																	"value": {
																		"value": "@variables('idVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "FirstName",
																	"type": "String",
																	"value": {
																		"value": "@variables('firstNameVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "LastName",
																	"type": "String",
																	"value": {
																		"value": "@variables('lastNameVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "City",
																	"type": "String",
																	"value": {
																		"value": "@variables('cityVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "Phone",
																	"type": "String",
																	"value": {
																		"value": "@variables('phoneVar')",
																		"type": "Expression"
																	},
																	"direction": "Input"
																}
															],
															"type": "Query",
															"text": "insert into [dbo].[Cust_UK] values(@Id,@FirstName,@LastName,@City,@Phone)"
														}
													]
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "SetCountryVar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CountryName",
								"value": {
									"value": "@item().country",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetIdVar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "idVar",
								"value": {
									"value": "@string(item().Id)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetFirstNameVar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "firstNameVar",
								"value": {
									"value": "@item().FirstName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetLastNameVar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastNameVar",
								"value": {
									"value": "@item().LastName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetCityVar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "cityVar",
								"value": {
									"value": "@item().City",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetPhoneVar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "phoneVar",
								"value": {
									"value": "@item().Phone",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script_To_Check_Record_Is_Present_Or_Not",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SetCountryVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetIdVar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('select count(*) from dbo.Cust_',variables('CountryName'),' where Id=',variables('idVar'))",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"serverName": {
				"type": "String"
			},
			"uName": {
				"type": "String"
			},
			"pass": {
				"type": "String"
			}
		},
		"variables": {
			"CountryName": {
				"type": "String"
			},
			"firstNameVar": {
				"type": "String"
			},
			"lastNameVar": {
				"type": "String"
			},
			"cityVar": {
				"type": "String"
			},
			"phoneVar": {
				"type": "String"
			},
			"idVar": {
				"type": "String"
			},
			"Columns": {
				"type": "String"
			}
		},
		"annotations": []
	}
}